@model ProjetoES.Models.Funcionario

<h3>
    Detalhes
</h3>

<br />

<div class="form-horizontal">
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd>
            @Model.DataCadastro.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataContratacao)
        </dt>
        <dd>
            @Model.DataContratacao.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Cargo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Setor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regional)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Regional)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @if (Model.Status == 1)
            {
                <span>
                    ATIVO
                </span>
            }
            else
            {
                <span>
                    INATIVO
                </span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoFuncionario)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.CodigoFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd>
            @string.Concat(Model.Endereco.Logradouro,
                        " ", Model.Endereco.Numero,
                        " ", Model.Endereco.Complemento,
                        " - ", Model.Endereco.Cidade.Nome,
                        " - ", Model.Endereco.Cidade.Estado.Nome)
        </dd>

    </dl>

    <hr />

    <div class="form-group">
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Trocar Status", "TrocarStatus", new { id = Model.Id, status = Model.Status }, new { @class = "btn btn-primary" })
    </div>
</div>